body {
    background-color: #C6E0EC;
    font-family: sans-serif;
}

h1 {
    font-size: 3rem;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
}

h2 {
    background-color: #4099BF;
    font-size: 2em;
}

h3 {
    background-color: #79B8D2;
    color: white;
    font-size: 1.5rem;
}

p {
    text-align: justify;
}

blockquote {
    font-style: oblique;
}

pre {
    background-color: white;
    font-size: 1rem;
    font-weight: bold;
}

address {
    font-family: serif;
    font-style: normal;
    text-align: right;
}