body{
    font-family: sans-serif;
    background-color: #267352;
    font-size: 1.25rem;
}
h1{
    color: #FFFFFF;
    text-align: left;
    text-shadow: black 5px 5px;
    text-transform: uppercase;
}
p{
    text-align: justify;
}
p.intro{
    border: black 10px solid;
    border-radius: 30px;
    margin-left: 25%;
    margin-right: 25%;
    padding: 20px;
    background: white;
}
p.estilo-1{
    border: #802400 20px solid;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-right: 50%;
    padding: 10px;
    background-color: #AC5A39;
    color: white;
}
p.estilo-2{
    border: #804800 15px solid;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-left: 50%;
    padding: 5px;
    background-color: #AC7A39;
    color: white;
}
p.estilo-3{
    border: #3978AC 5px dashed;
    margin-left: 25%;
    margin-right: 25%;
    padding: 20px;
    background-color: #004680;
    color: white;
}